.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 24px;
    background-color: #f8f8f8;
    font-size: 16px;
    font-weight: 500;
    color: #555;
    border-top: 1px solid #e0e0e0;
}

.footer-right img {
    width: 40px;
    height: 40px;
    margin-left: 8px;
    position: relative;
    top: 10px;
}